body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cuadro1 > h1{
    font-size:24px ;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.cuadro1 > p{
    font-size:14px ;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.cuadro2{
    width: 375px;
    /* height: 545px; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid #BDBDBD;
    border-radius: 15px; */
}

.titu1 > h1{
    font-size:24px ;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.titu1 > p{
    font-size:13px ;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #828282;
}

nav{
    width: 100%;
}


#barranav{
    display: flex;

}

.loguito{
    width: 130px;
    height: 18px;
}


#cuadrodesple > ul >li > a > span{
    display: none;
}

#cuadrodesple > a > span{
    display: none;
}

.imgperfil{
    width: 32px;
    height: 36.69px;
    border-radius: 8px;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    /* padding: 5%; */
}

.cuadro1{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.titu1{
    width: 180px;
}

.titu2{
    width: 95px;
    height: 38px;
    border: 1px solid #828282;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
   
}

.titu2 > a{
    color: #828282;
    font-size:16px ;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.datos1 > p{
   
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    color: #828282;
    font-size:13px ;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    

}

.datos1 > p > span{
   
    color: #333333;
    font-size:16px ;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    
}

.datos1 > p >img{
    width: 72px;
    height: 72px;
    border-radius: 8px;
}

@media screen and (min-width: 750px) {

    

    .contenemayor{
        width: 500px;
    }

    .cuadro1 > h1{
        font-size:36px ;
        font-weight: 400;
        
    }
    
    .cuadro1 > p{
        font-size:18px ;
        font-weight: 300;
       
    }

    .cuadro2{
        width: 500px;
        /* height: 545px; */
    
        border: 1px solid #BDBDBD;
        border-radius: 15px;
    }

    .titu1{
        width: 300px;
    }

    #cuadrodesple > ul >li > a > span{
        display: block;
    }
    
    #cuadrodesple > ul >li{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
    #cuadrodesple > a > span{
        display: block;
    }
    
    #cuadrodesple > a{
        display: flex;
        gap: 10px;
        align-items: center;
        color: red;
    }

    .datos1 > p > span{
   
        color: #333333;
        font-size:18px ;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        
    }




}



@media screen and (min-width: 1200px) {

    

    .contenemayor{
        width: 900px;
    }

    .cuadro2{
        width: 800px;
        /* height: 545px; */
    
        border: 1px solid #BDBDBD;
        border-radius: 15px;
    }

     .titu1{
        width: 300px;
    }
}